.about__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  @media (max-width:768px) {
    flex-direction: column;
  }
  div {
    flex-basis: 49%;
    // border: 1px solid green;
    min-height: 20rem;
    @media (max-width:768px) {
      min-height: auto;
    }
    &:last-child{
        text-align: center;
    }
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: #36a012;
    @media (max-width:768px) {
      font-size: 13.4px;
      line-height: normal;
    }
  }
  img {
    width: 50%;
    margin: auto;
    text-align: center;
    // height: 308px;
    @media (max-width:768px) {
      
    }
  }
}
.aboutfleximg{
  @media (max-width:768px) {
    display: none;
  }
}
