.table__container {
  position: absolute;
  top: 90%;
  height: 500px;
  display: flex;
  width: 100%;
  .table__container-div {
    background: #ffffff;
    box-shadow: 0px 14px 46px -1px rgba(0, 0, 0, 0.18);
    border: 1px solid red;
    border-radius: 13px;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    .buysellbtn {
      display: flex;
      gap: 1%;
      border: 1px solid #d9d9d9;
      border-radius: 13px;
      padding: 0.2rem;
      button {
        display: block;
        width: 50%;
        padding: 1rem;
        cursor: pointer;
        border: none;
        box-shadow: 0px 14px 46px -1px rgba(0, 0, 0, 0.11);
        border-radius: 13px;
        &:hover {
          background: rgba(110, 251, 64, 0.56);
        }
      }
    }
  }
}
.buy {
  background: #38b30f;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
}
.empty__height{
  height: 500px;
  // background-color: red;
  width: 100%;
}
