
.navlinks__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  width: 100%;
  // border: 1px solid green;
  left: 0;
  height: 80px;

  p {
    padding: 0.5rem 1rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #ffffff;
    @media (max-width:550px) {
      display: none;
    }
  }
}
.navlinks__container.active {
  background-color: #2c6518 !important;
  z-index: 10;
}
.menu {
  color: white;
  font-size: 30px;
  position: fixed;
  right: 5%;
  top: 4%;
  cursor: pointer;
  z-index: 20;
}
.mobile__view {
  border-radius: 10px;
  position: fixed;
  background-color: #2c6518;
  width: 40%;
  top: 9%;
  right: 4%;
  z-index: 20;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  // padding: 1rem;
  p {
    padding: 1rem;

    text-align: center;
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
