.table__grid {
  // margin-top: 0.5rem;
}
.tcel2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
}
.table_image {
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  border: 1px solid green;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.table_row {
  margin: 1.4rem 0;
  background: rgba(237, 255, 231, 0.96);
  border-radius: 3px;
  
}
