.logins {
//   flex-basis: 49%;
  width: 340px;
  background: #ffffff;
  box-shadow: 0px 14px 46px -1px rgba(0, 0, 0, 0.18);
  border-radius: 13px;
  padding: 1rem;
  form{
    min-height: 15rem;
  }
  input {
    padding: 0.7rem;
    background: rgba(218, 255, 205, 0.96);
    border-radius: 9px;
    display: block;
    width: 100%;
    border: none;
    color: #38b30f;
    outline: none;
    margin-bottom: 0.9rem;
    height: 60px;
  }
  input[type="submit"] {
    background: #38b30f;
    border-radius: 9px;
    color: white;
    cursor: pointer;
  }
  p {
    text-align: center;
  }
}
