.how__buy{
    text-align: center;
    color: #3D543E;
    padding: 1rem;
    // border: 3px solid green;
    border-radius: 59% 100% 99% 0% / 100% 0% 54% 0% ;
    background: rgba(237, 255, 231, 0.96);
    min-height: 25rem;
}
.how__flex {
  display: flex;
  gap: 2%;
  padding: 1rem;
  justify-content: space-around;

  .howto_flex-item {
    width: 200px;
    padding: 1rem;
    text-align: center;
    // border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 10rem;
    p {
      font-size: 12px;
    }
    h4 {
      font-size: 16px;
    }
    img {
      width: 60%;
      display: block;
      height: 80px;
      margin-bottom: 2rem;
    }
  }
}
